{% extends 'baseAdmin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/dataTables/jquery.dataTables.min.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste de demande de documents</h1>

        <table id="table_id">
            <thead>
            <tr>
                <th>Civility</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Phonenumber</th>
                <th>Email</th>
                <th>Price</th>
                <th>Type</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ document.civility }}</td>
                    <td>{{ document.lastName }}</td>
                    <td>{{ document.firstName }}</td>
                    <td>{{ document.phoneNumber }}</td>
                    <td>{{ document.email }}</td>
                    {% if document.price is null %}
                        <td>0 €</td>
                    {% else %}
                        <td>{{ document.price }}</td>
                    {% endif %}
                    <td>{{ document.type }} €</td>
                    <td>
                        {% if document.status == 0 %}
                            <a href="{{ path('document_status', {'id': document.id, 'status': 1}) }}"
                               class="button button-grey text-center">En Attente</a>
                        {% elseif document.status == 1 %}
                            <a href="{{ path('document_status', {'id': document.id, 'status': 2}) }}"
                               class="button button-yellow text-center">En cour de traitement</a>
                        {% elseif document.status == 2 %}
                            <a href="{{ path('document_status', {'id': document.id, 'status': 0}) }}"
                               class="button button-green text-center">Validé</a>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('document_show', { 'id': document.id }) }}">voir</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset('asset/js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable({
                ordering: false,
                language: {
                    processing:     "Traitement en cours...",
                    search:         "Rechercher&nbsp;:",
                    lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                    info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix:    "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable:     "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first:      "Premier",
                        previous:   "Pr&eacute;c&eacute;dent",
                        next:       "Suivant",
                        last:       "Dernier"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        } );
    </script>
{% endblock %}
